/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Tailwind */
@import "tailwindcss";

@theme {
  --font-playfair: "Playfair Display", serif;
  --font-raleway: "Raleway", sans-serif;
}
